<ion-header>
  <ion-toolbar>
    <ion-title>Recipe Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ng-container *ngIf="recipe; else loading">

    <h2>{{ recipe.title }}</h2>

    <img
      *ngIf="recipe.image"
      [src]="recipe.image"
      style="width: 100%; max-width: 400px;"
    />

    <h3>Ingredients</h3>
    <ul>
      <li *ngFor="let ing of recipe.extendedIngredients">
        {{ ing.original }}
      </li>
    </ul>

    <h3>Instructions</h3>
    <p [innerHTML]="recipe.instructions"></p>

  </ng-container>

  <ng-template #loading>
    <ion-spinner></ion-spinner>
    <p>Loading recipe...</p>
  </ng-template>

</ion-content>
