<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ingredients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card *ngFor="let ingredient of ingredients">
    <img
      *ngIf="ingredient.image"
      [src]="'https://spoonacular.com/cdn/ingredients_500x500/' + ingredient.image"
    />

    <ion-card-content>
      <h2>
        {{ ingredient.amount }} {{ ingredient.unit }}
        {{ ingredient.name }}
      </h2>

      <p *ngIf="ingredient.measures?.metric">
        {{ ingredient.measures.metric.amount }}
        {{ ingredient.measures.metric.unitShort }}
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
