<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Recipe Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card *ngIf="recipe">
    <img *ngIf="recipe.image" [src]="recipe.image" />

    <ion-card-header>
      <ion-card-title>{{ recipe.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <h2>Ingredients</h2>
      <ul>
        <li *ngFor="let ingredient of recipe.extendedIngredients">
          {{ ingredient.original }}
        </li>
      </ul>

      <h2>Instructions</h2>
      <p [innerHTML]="recipe.instructions"></p>
      <ion-button
  expand="block"
  color="danger"
  fill="outline"
  (click)="toggleFavorite()">

  <ion-icon
    slot="start"
    [name]="isFavorite() ? 'heart' : 'heart-outline'">
  </ion-icon>

  {{ isFavorite() ? 'Remove from Favorites' : 'Add to Favorites' }}

</ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
