<ion-header>
  <ion-toolbar>
    <ion-title>G00438795</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="stacked">Enter Ingredients</ion-label>
    <ion-input [(ngModel)]="ingredients" placeholder="e.g. chicken, rice"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="searchRecipes()">
    SEARCH
  </ion-button>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let recipe of recipes">
        <ion-card>
          <img *ngIf="recipe.image" [src]="recipe.image" />

          <ion-card-header>
            <ion-card-title>{{ recipe.title }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button expand="block" fill="outline"
              (click)="openDetails(recipe.id)">
              VIEW DETAILS
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
