<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Measurement Units</h2>
        <p>Select how ingredients are displayed</p>
      </ion-label>
    </ion-item>

    <ion-radio-group [(ngModel)]="unit" (ionChange)="saveUnit()">

      <ion-item>
        <ion-label>Metric</ion-label>
        <ion-radio slot="start" value="metric"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Imperial</ion-label>
        <ion-radio slot="start" value="imperial"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>US</ion-label>
        <ion-radio slot="start" value="us"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>

</ion-content>
